:root {
    --brick-width: 10px;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#root {
    background-color: #272727;
    color: #efefef;
    font-family: sans-serif;
}

#links {
    margin: 0;
    padding: 0;
    display: flex;
    height: 4em;
    align-items: center;
}

#links > a {
    color: black;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.3em;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 1.5s;
    will-change: background-color;
}

#links > a:hover {
    background-color: azure;
}

#fork {
    flex: 1;
    text-align: right;
}

#fork > a {
    color: white;
}

#fork > a:hover {
    color: azure;
}

#bricksCt {
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
    background-color: azure;
}

#bricksCt > span {
    float: left;
    width: var(--brick-width);
    height: var(--brick-width);
    background-color: white;
    margin: 1px;
    transition: background-color 0.5s;
    will-change: background-color;
}

#bricksCt > ._1 {
    background-color: #eee;
}

#bricksCt > ._2 {
    background-color: #ddd;
}

#bricksCt > ._3 {
    background-color: #ccc;
}

#bricksCt > ._4 {
    background-color: #bbb;
}

#bricksCt > ._5 {
    background-color: #aaa;
}

#bricksCt > ._6 {
    background-color: #999;
}

#bricksCt > ._7 {
    background-color: #888;
}

#bricksCt > ._8 {
    background-color: #777;
}

#bricksCt > ._9 {
    background-color: #666;
}

#bricksCt > ._10 {
    background-color: #555;
}

#bricksCt > ._11 {
    background-color: #444;
}

#bricksCt > ._12 {
    background-color: #333;
}

#bricksCt > ._13 {
    background-color: #222;
}

#bricksCt > ._14 {
    background-color: #111;
}

#bricksCt > ._15 {
    background-color: #000;
}

